@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:200');

html{
  height: 100%;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Mukta Malar', sans-serif;
}